<div id="show_links">
  <p class="show_song">Artist: <%= @song.artist %></p>
  <br/>
  <p class="show_song">Title: <%= @song.title %></p>
  <br/>
  <br/>
  <div class="show_lyric">
    <p class="show_song">
      Lyrics:
      <br/>
      <br/>
      <pre><%= @song.lyric %></pre>
    </p>
  </div>
</div>


<!--
  if a user has liked this song then
  display like count and option to unlike
  which will decrease like count by one

  if a user is logged in as user who submitted song then
  allow them to edit and delete their input
  fix logic here


  work on search functionality
-->
