/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

div.navbar-header{
  display: inline-block;
  position: relative;
  left: 500px;
}

h1{
  color: ghostwhite;
}

h1.add_song{
  margin: 0px auto;
  display: block;
  position: relative;
  left: 535px;
}

.field{
  color: lightgreen;
}

#container{
  display: block;
  position: relative;
 left: 100px;
}

.actions{
  padding-bottom: 30px;
}

.text_row{
  overscroll: auto black;
}

.greeting{
  display: block;
  position: relative;
  left: -280px;
  top: 15px;
}


.show_song{
  display: block;
  position: relative;
  left: 15px;
  color: ghostwhite;
  margin: 0px auto;
  width: 350px;
}

#show_lyric{
  display: block;
  position: relative;
  width: 100px;
  height: 500px;
}

.edit_song{
  display: inline-block;
  margin-right: 5px;
}

.delete_song{
  display: inline-block;
}

#show_links{
  display: block;
  position: relative;
  width: 150px;
  height: 40px;
  left: 300px;
  top: 140px;
}

#links{
  display: block;
  position: relative;
  width: 80px;
  height: 40px;
  left: 90px;
  top: 0px;
}

#login_form{
  display: block;
  position: static;
  margin: 0px auto;
  border: solid silver 4px;
  border-radius: 4px;
  width: 280px;
  height: 230px;
  padding: 15px;
  background-color: ghostwhite;
  opacity: 0.25%;
}

.email_input{
  margin-left: 29px;
}

#login_form > div.field{
  color: black;
}

.login_button{
  margin-top: 12px;
}
